<div class="row">
    <div class="col ms-5" style="padding: 150px;">
        <h1>Welcome to</h1>
        <h1>DIAMOND SHOP</h1>
        <p class="fs-5">Luxury you can afford, brilliance you deserve.</p>
    </div>
    <div class="col me-5 p-5">
        <img src="https://blog.sothebysrealty.ae/hs-fs/hubfs/The%20Most%20Expensive%20Diamonds%20in%20the%20World-jpg-3.jpeg?width=1600&height=883&name=The%20Most%20Expensive%20Diamonds%20in%20the%20World-jpg-3.jpeg"
            width="100%" />
    </div>
</div>

<div class="row">
    <div class="col ms-5">
        <h2>DIAMOND</h2>
    </div>
</div>

<div class="row">
    <div class="col ms-5 p-5">
        <img width="700px" height="500px"
            src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/475463769_1081506014009027_2229670898669888983_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=PQ1dQ_vmku4Q7kNvgGQ-8qE&_nc_oc=Adisho3lVOC9eHGA0bytErVmoWStCpckiU0AhCy_h7Eg-wdZEVZ_kI28RNNvOQvihA7hB16kwiuhU0AUPUduw11I&_nc_zt=23&_nc_ht=scontent.fbkk2-8.fna&_nc_gid=Ak57bWAixQ9G1vX1hNPvjCy&oh=00_AYB6ZKM3jX4cYgnT5xLowJ4ucWnqXXxs6fcRo8OFN-7pKg&oe=67A84391" />
        <h3>Double Ring</h3>
    </div>
    <div class="col me-5">
        <div class="row" >
            <div class="col">
                <img width="300px" height="300px"
                    src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/475498967_1081506020675693_7655184353648741284_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=GGDOMP_34tYQ7kNvgGUCBOR&_nc_oc=Adj2oLNSdI0ROT8Oyd2URkqSXLsESQ1TyxmaP4jIUtb_-zjWB5ZT9DBM9Peff6lm01JElT7WwxG30YeROjdEd7ce&_nc_zt=23&_nc_ht=scontent.fbkk2-8.fna&_nc_gid=A57qFjslAEc1keMKSpv-cG0&oh=00_AYDM-Kf7Kh_4E6y49sA-7RzTKKllBqF9HvmKxVQkTmIjIA&oe=67A8597B" />
                    <h3>earring</h3>
            </div>
            <div class="col">
                <img width="300px" height="300px"
                    src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/475476435_1081505970675698_6847207780991150447_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Hj0pIY4uIMoQ7kNvgE-02hh&_nc_oc=AdgAwum1ArYhqLKDQ3mfK-cqMPmGxJwowEcnbL0a-Qil9PuHr4vR8PP7fWWmDB0Nh0Vmv5wZYvc6Yc0uEh_xC1wJ&_nc_zt=23&_nc_ht=scontent.fbkk2-8.fna&_nc_gid=AyCdV8Cda7aFR5rGV4hWGUd&oh=00_AYAukN6TUmDV74mjsweAUWRTp6wh2KlTTix8O5kZN-yOqQ&oe=67A83CD0"
                    alt="">
                    <h3>Ring</h3>
            </div>
        </div>
        <div class="row" >
            <div class="col">
                <img width="300px" height="300px"
                    src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t39.30808-6/474717409_1081506010675694_628972211385140686_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=fHy1Ikm0IGUQ7kNvgGaBqbT&_nc_oc=Adit5T8_eoBp0EbiW8ZWidP24VLRjf0FuacrAA56oFW_i7tbqcz09GOWR9YvXsqOpjYaBAjmZytou0PzqCNhnPIl&_nc_zt=23&_nc_ht=scontent.fbkk2-8.fna&_nc_gid=AwSffKU3-I6rbeoEdWS258k&oh=00_AYAymMh_epZWU1E7_urPylu77_t_KwHh_75hBWin3nUTGw&oe=67A8387B"
                    alt="">
                    <h3>bangle</h3>
            </div>
            <div class="col">
                <img width="300px" height="300px" src="https://scontent.fbkk2-7.fna.fbcdn.net/v/t39.30808-6/474532473_1081506054009023_3691402365016669259_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=KWA-8OMObqsQ7kNvgH_Lynq&_nc_oc=Adiznvqikz7WOkHPxvMEfJy1aBnqVK4pV6ZvHHl-ONoxADBFq2KQps-zZkGffwgegTYAry-K55d915ZGm6xgOzJT&_nc_zt=23&_nc_ht=scontent.fbkk2-7.fna&_nc_gid=Ar6wylndVVzuJUT4ox2IJ_Y&oh=00_AYCiMKIDx0aATqfqv4H-mvTLnLRRq37GCWOvuceHNaFdKw&oe=67A83C1F" />
                    <h3>necklace</h3>
            </div>
        </div>
    </div>
</div>